html {
  background-color: black;
}

.wrapper {
}

.rick-image {
  max-height: 100vh;
}

.morty-left-eye {
  position: absolute;
  width: 50px;
  left: 212px;
  bottom: 237px;
}

.morty-right-eye {
  position: absolute;
  width: 50px;
  left: 323px;
  bottom: 258px;
}

.rick-left-eye {
  position: absolute;
  width: 52px;
  left: 466px;
  bottom: 473px;
}

.rick-right-eye {
  position: absolute;
  width: 52px;
  left: 570px;
  bottom: 479px;
}


.container {
  display: flex;
}


ul {
  color: white;
  list-style-type: none;
  font-size: 1.75em;
}

li {
  margin-bottom: 1em;
  background-color: #404040;
  padding: 0.3em;
  border-radius: 7px;
  color: #2feb61;
}

.ul-wrapper {
  padding: 0em 5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

li:hover {
  background-color: #2feb61;
  color: #404040;
  cursor:pointer;
}